@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 4000px;
}

/* Start Header Section */

header {}

/* -Start Navigation Section- */

nav {
    background: #fff;
    box-shadow: 0 0 1px 1px rgb(29 17 51 / 4%), 0 0 3px 2px rgb(9 32 77 / 12%), 0 0 2px -3px rgb(29 17 51 / 12%);
    min-height: 4rem;
}

/* --Start Container Section-- */

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 96px;
}

/* ---Start Navigation Content Section--- */

.nav-content {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 130px 1fr 190px;
    padding-top: 16px;
}

.logo,
.nav-links,
.download {
    height: 2rem;
}

/* ----Start Logo Section----*/

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo .logo-content {
    height: 2rem;
    width: 112px;
}

.logo .logo-content img {
    width: 100%;
}

.logo .hamburger-icon {
    display: none;
}

/* ----End Logo Section----*/
/* ----Start navigation Links----*/

.nav-links {}

.nav-links-content > ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-links-content > ul > li {
    position: relative;
}

.nav-links-content .nav-link {
    display: block;
    line-height: 2rem;
    height: 2rem;
    margin: 0 16px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: .3s
}

.nav-links-content .nav-link:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.fa-chevron-down {
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 540px;
    padding-top: 1.5rem;
    z-index: 100;
}

.nav-links-content > ul > li:last-of-type .dropdown {
    left: -430px;
    width: 530px;
}

.nav-links-content > ul > li:hover > .dropdown {
    display: block;
}

.dropdown-contents {
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .3);
    padding: 1rem;
    display: grid;
    grid-template-areas:
        'one two'
        'three three';
}

.dropdown-contents-one,
.dropdown-contents-two {
    height: 90%;
    width: 100%;
    overflow: hidde;
}

.dropdown-contents-one {
    grid-area: one;
}

.dropdown-contents-two {
    grid-area: two;
}

.dropdown-contents-three {
    padding: 10px 0;
    grid-area: three;
    text-align: center;
}

.dropdown-contents-three a {
    height: 100%;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.dropdown-contents-three a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
    padding: 1rem .5rem;
}

.dropdown-content:hover {
    background-color: #f8f8f9;
}

.dropdown-content-img {
    width: 20%;
    padding-right: 20px;
}

.dropdown-content-img img {
    width: 35px;
}

.dropdown-content-img i {
    font-size: 1.7rem;
}

.dropdwn-content-description h3 {
    font-size: .98rem;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

.dropdown-content:hover .dropdwn-content-description h3 {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.dropdwn-content-description p {
    font-size: .75rem;
    color: #333;
    line-height: 1.5
}

/* ----Start navigation Links----*/
/* ----Start Download Button Section----*/

.download-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.download-btn .download-container a {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 170px;
    border: 2px solid #0060df;
    border-radius: 6px;
    color: #0060df;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: .9rem;
    transition: .2s;
}

.download-btn .download-container a.onload {
    animation: onload .9s;
}

.download-btn .download-container a:hover {
    color: #FFF;
    background-color: #0060df;

}

@keyframes onload {

    0%,
    30%,
    60%,
    90%,
    100% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-10px);
        animation-timing-function: ease-out;
    }

    45% {
        transform: translateY(-5px);
        animation-timing-function: ease-out;
    }

    75% {
        transform: translateY(-1px);
        animation-timing-function: ease-out;
    }
}

/* ----End Download Butoon Section----*/
/* ---End Navigation Content Section--- */
/* --End Container Section-- */
/* -End Navigation Section- */

/* -Start Promotion Banner- */
.promo-banner {
    background-image: linear-gradient(90deg, #fca134, #e1294f);
    position: relative;
}

.promo-banner .times {
    position: absolute;
    top: 20%;
    right: 0;
    padding-right: 30px;
    z-index: 1;
}

.promo-banner .times .fa-times {
    font-size: 1.8rem;
    cursor: pointer;
}

.promo-banner-content {
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.promo-banner-content div {
    width: 100%;
    display: flex;
    align-items: center;
}

.promo-banner-content div h4 {
    font-size: 1.4rem;
    margin-right: 30px;
}

.promo-banner-content div a {
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 22px;
    border: 2px solid #000;
    border-radius: 5px;
}

.promo-banner-content div a:hover {
    background-color: #FFF;
}

/* -End Promotion Banner- */

/*-Start Header Content Section-*/
.privacy-hero {
    background-color: #20123a;
    overflow: hidden;
}

.privacy-hero-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.privacy-hero-container div {
    height: 100%;
    width: 50%;
}

.privacy-hero-container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.privacy-hero-container .text h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.privacy-hero-container .text a {
    height: 2.7rem;
    width: 9rem;
    text-align: center;
    text-decoration: none;
    line-height: 2.7rem;
    color: #FFF;
    background-color: #0060df;
    font-weight: bold;
    border-radius: 5px;
}

.privacy-hero-container .text a:hover {
    background-color: #0250bb;
}

.privacy-hero-container .img {
    position: relative;
}

.privacy-hero-container .img div {
    position: absolute;
    top: 5%;
    left: 0;
    height: 450px;
    width: 450px;
}

.privacy-hero-container .img img {
    width: 100%;
}

/*-End Header Content Section-*/

/* End Header Section */

/* ===================================== RESPONSIVE 1028px =============================== */

@media(max-width: 1024px) {

    /* Start Header */

    /*-Start Navigation Bar Section-*/
    .container {
        padding: 0 64px;
    }

    .nav-content {
        grid-template-columns: 120px 1fr 175px;
    }

    .nav-links-content .nav-link {
        margin: 0 8px;
    }

    /* Start Dropdown Section */

    .dropdown {
        width: 260px;
    }

    .nav-links-content > ul > li:last-of-type .dropdown {
        left: -170px;
        width: 260px;
    }

    .dropdown-contents {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dropdown-content {
        padding: .6rem .5rem;
        align-items: center;
        justify-content: flex-start
    }

    .dropdwn-content-description p {
        display: none;
    }

    .dropdown-content-img {
        width: 20%;
    }

    .dropdown-content-img img {
        width: 25px;
    }

    .dropdown-content-img i {
        font-size: 1.2rem;
    }

    .dropdown-contents-three a {
        height: 100%;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 1rem;
    }

    /* End Dropdown Section */

    /*-End Navigation Bar Section-*/
    .privacy-hero-container {
        height: 300px;
    }

    .privacy-hero-container .text {
        justify-content: flex-start;
    }

    .privacy-hero-container .text h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .privacy-hero-container .img div {
        width: 350px;
    }

    /*-Start Header Content Section-*/

    /*-Start Header Content Section-*/

    /* End Header */
}

/* ===================================== RESPONSIVE 850px =============================== */

@media(max-width: 875px) {
    .nav-content {
        grid-template-areas:
            'logo download download'
            'links links links';
        padding: 0;
    }

    .logo {
        grid-area: logo;
        height: 4rem;
    }

    .nav-links {
        grid-area: links;
        height: 3rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .nav-links-content > ul > li:first-of-type > .nav-link {
        margin-left: 0;
    }

    .download-btn {
        grid-area: download;
        height: 4rem;
    }

    /* Start Dropdown Section */
    .dropdown {
        padding-top: 1rem;
    }

    /* End Dropdown Section */
}

/* ===================================== RESPONSIVE 768px =============================== */

@media(max-width: 768px) {

    /*Start Header Section*/
    /*-Start Navbar Section-*/
    .nav-content {
        grid-template-areas:
            'logo logo logo'
            'download download download'
            'links links links';
    }

    .container {
        padding: 0 24px;
    }

    /*--Start Logo Section--*/
    .logo {
        grid-area: logo;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*---Start Hamburger Icon Section---*/
    .logo .hamburger-icon {
        display: block;
        position: relative;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer
    }

    .logo .hamburger-icon .menu .fas {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 2rem;
        text-align: center;
        line-height: 32px;
        background-color: #FFF;
    }

    .logo .hamburger-icon .menu .fas:last-of-type {
        display: none;
    }

    .logo .hamburger-icon .menu .fas.times {
        display: block;
    }

    /*---End hamburger icon seciton---*/
    /*--End Logo Section--*/
    /*--Start Nav Links Section--*/
    /*---Start Nav Links Content---*/
    .nav-links {
        grid-area: links;
        overflow: hidden;
        padding-top: 2rem;
        display: none;
        height: 100%;
    }

    .nav-links-content {
        width: 100%;
    }

    .nav-links-content > ul {
        display: flex;
        flex-direction: column;
    }

    .nav-links-content > ul > li {
        width: 100%;
        border-top: 1px solid #DDD;
        cursor: pointer;
    }

    .nav-links-content > ul > li > .nav-link-content {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links-content .nav-link {
        margin: 0;
    }

    .nav-links-content .nav-link:hover {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
    }

    .fa-chevron-down {
        display: block;
        transition: .3s;
        color: #ccc;
    }

    .nav-links-content > ul > li:hover .fa-chevron-down {
        transform: rotate(180deg);
    }

    /*---End Nav Links Content---*/
    /*----Start Dropdown Section----*/
    .dropdown {
        position: relative;
        width: 100%;
        padding: 0;
    }

    .nav-links-content > ul > li:last-of-type .dropdown {
        left: 0;
        width: 100%;
    }

    .dropdown-contents {
        box-shadow: none;
        display: grid;
        grid-area:
            'one two'
            'three three';
    }

    .dropdown-content {
        align-items: flex-start;
    }

    .dropdown-contents-three {
        margin-top: 10px;
        padding: 15px 0;
        border-top: 1px solid #DDD;
    }

    .dropdown-content-img {
        width: 40px
    }

    .dropdwn-content-description p {
        display: block;
    }

    /**----End Dropdown Section----*/
    /*--End Nav links Section--*/
    /*--Start Download section--*/
    .download-btn {
        height: 3rem;
        grid-area: download;
        display: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .show {
        display: flex;
    }

    /*--Start Download section--*/
    /*-End NavBar Section*/

    /* Start promo section */
    .promo-banner-content {
        padding: 10px 0;
    }

    .promo-banner .times {
        top: 10%;
        padding-right: 10px;
    }

    .promo-banner .times .fa-times {
        font-size: 1.3rem;
    }

    .promo-banner-content div {
        display: block;
    }

    .promo-banner-content div h4 {
        font-size: 1rem;
    }

    .promo-banner-content div a {
        display: inline-block;
        margin-top: 5px;
        padding: 6px 18px;
        font-size: .9rem;
    }

    /* End Promo section */

    /*-Start Privacy Hero Section-*/
    .privacy-hero {}

    .privacy-hero-container {
        align-items: center;
    }

    .privacy-hero-container .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .privacy-hero-container .img {
        display: none;
    }

    /* End Privacy Hero Section */
}

/* ===================================== RESPONSIVE 480px =============================== */

@media(max-width: 480px) {
    .dropdown-contents {
        display: flex;
    }

    .dropdown-content {
        padding: 16px 0;
    }

    .dropdwn-content-description p {
        display: none;
    }

    .dropdwn-content-description h3 {
        margin: 0;
    }

    .promo-banner-content div h4 {
        font-size: 1rem;
    }
}

/************************************** Offers ***********************************/

.offers {
    margin-top: 50px;
}

.offers-container {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-column-gap: 2%;
    grid-row-gap: 20px;
}

.offer {
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.offer.one {
    grid-column: span 2;
}

.offers-container .img img {
    width: 100%;
    height: 100%;
}

.offers-container .text-content span {
    font-size: .9rem;
    color: #555;
    display: block;
    padding: .5rem 0;
}

.offers-container .text-content h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.offers-container .text-content p {
    line-height: 1.5;
}

.offers-container .offer.one .text-content h3 {
    font-size: 2.5rem
}

.offers-container .offer.one .text-content p {
    font-size: 1.15rem;
}

/*--- Offers Responsive 1024 ---*/

@media(max-width: 1024px) {
    .offers-container {
        width: 96%;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 4%;
    }
}

/*--- Offers Responsive 480px ---*/

@media(max-width: 480px) {
    .offers-container {
        width: 100%;
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 0;
    }

    .offer.one {
        grid-column: span 1;
    }
}

/* End Offres */

/* Start Pocket */
.pocket {
    margin: 120px 0;
}

.pocket-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 50px;
}

.pocket-content .img,
.pocket-content .text {
    position: relative;
    width: 100%;
    max-height: 700px;
}

.pocket-content .img img {
    position: absolute;
    display: block;
    height: 100%;
    right: 0;
    top: 0;

}

.pocket-content .text > div {
    margin-bottom: 30px;
}

.pocket-content .text > div > img {
    width: 30px;
}

.pocket-content .text > div > span {
    font-size: 3rem;
    color: #888;
}

.pocket-content .text h3 {
    font-size: 3.2rem;
    margin-bottom: 30px;
}

.pocket-content .text p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 50px;
}

.pocket-content .text a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    background-color: #0060df;
    color: #FFF;
    border-radius: 5px;
}

.pocket-content .text a:hover {
    background-color: #0250bb;

}

/*---- Pocket Responsive 1024----*/
@media(max-width: 1024px) {
    .pocket-content .text p {
        margin-bottom: 20px;
    }
}

/*---- Pocket Responseve 768px ----*/
@media(max-width: 768px) {
    .pocket-content {
        display: grid;
        grid-template-areas: 
            'text text'
            'img img';
        max-height: 800px;
        column-gap: 0;
        grid-row-gap: 30px;
        
    }
    .pocket-content .img {
        max-height: 100%;
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: flex-start
    }
    
    .pocket-content .img img{
        position: relative;
        object-fit: contain;
        width: 100%;
    }
    
    .pocket-content .text {
        grid-area: text;
        text-align: center;
    }
    
    .pocket-content .text h3 {
        font-size: 2.8rem
    }
}

@media(max-width: 480px) {
    .pocket-content .img {
        height: 300px;
    }
    .pocket-content {
        grid-gap: 10px;
    }
}

/* End Pocket */
